---
layout: default
---

<div class="home">

  {% if site.theme_settings.header_text %}
  <div class="call-out">{{ site.theme_settings.header_text }}</div>
  {% endif %}

  <div class="posts">
  <div class="post-teaser">
    {% for post in site.posts %}
    
      <header>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        
        <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
      </header>
      
    {% endfor %}
    </div>
  </div>
  
</div>
